In [3]:
# generator
def nb_generator():
    n = 1
    while(True):
        n += 1
        yield(n)
        
nb = nb_generator()

In [5]:
next(nb)

2

In [6]:
next(nb)

3

In [8]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({'A': [1,2,3], 'B': [3,4, -1]}, index=['a','b','c'])
(df > 0)

      A      B
a  True   True
b  True   True
c  True  False

In [14]:
(df > 0).sum(axis=1)

a    2
b    2
c    1
dtype: int64