## Problems
### We are still learning:
#### * We often need hints for the steps to take
#### * We often need hints about Numpy, Pandas, Spark & other libraries syntax 
#### * We often need to check the results of our instructions
### Jupyter notebooks get messy quickly

In [1]:
import pandas as pd
import numpy as np

# Avoid restarting Kernel
%load_ext autoreload
%autoreload 2

In [2]:
from goal_coding import GoalCoding

### Initialize a GoalCoding instance, load a file into a Pandas dataframe

In [3]:
%reload_ext autoreload
# g = GoalCoding('data/Train.zip', 'train_df', 100)
g = GoalCoding('data/Train.zip', 'train_df',100)

In [4]:
# g.objects.print_info()
g.my_objects.print_info()

Your objects:
Name: train_df , Type: <class 'pandas.core.frame.DataFrame'>

### Do EDA

In [ ]:
g.eda.in_depth()

### Do magic indexing

In [5]:
g.subset_rows.meet_logical_criteria(g.current['SalesID'] > 1139546,to_object='inplace')

df_or_series_or_np_array[condition_or_filter_for_samples_to_keep]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3,2004,68,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3,1996,4640,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3,2001,2838,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
g.o['train_df']

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
98,1139547,20500,332277,1571,121,3,1980,0,NaN,11/3/2005 0:00,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,None or Unspecified,None or Unspecified,NaN,NaN
99,1139550,27000,62171,13776,121,3,2000,2842,Medium,6/1/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,None or Unspecified,None or Unspecified,NaN,NaN

In [7]:
g.my_objects.print_info()

Your objects:
Name: train_df , Type: <class 'pandas.core.frame.DataFrame'>